aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
audiosegment==0.23.0
blinker==1.6.2
boto3==1.26.143
botocore==1.29.143
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
Cython==0.29.35
decorator==5.1.1
demucs==4.0.0
diffq==0.2.4
dora-search==0.1.12
dropbox==11.36.0
einops==0.6.1
filelock==3.12.0
Flask==2.3.2
Flask-SQLAlchemy==3.0.3
frozenlist==1.3.3
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
julius==0.2.7
lameenc==1.4.2
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
MarkupSafe==2.1.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
networkx==3.1
numba==0.57.0
numpy==1.24.3
omegaconf==2.3.0
openai==0.27.7
openunmix==1.2.1
packaging==23.1
pandas==2.0.1
ply==3.11
pooch==1.6.0
pycparser==2.21
pydub==0.25.1
python-dateutil==2.8.2
git+https://github.com/smullins998/pytube
pytz==2023.3
PyYAML==6.0
requests==2.31.0
retrying==1.3.4
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.10.1
ShazamAPI==0.0.2
six==1.16.0
sklearn==0.0.post5
soundfile==0.12.1
soxr==0.3.5
SQLAlchemy==2.0.15
stone==3.3.1
submitit==1.4.5
sympy==1.12
threadpoolctl==3.1.0
torch==2.0.1
torchaudio==2.0.2
tqdm==4.65.0
treetable==0.2.5
typing_extensions==4.6.1
tzdata==2023.3
urllib3==1.26.16
webrtcvad==2.0.10
Werkzeug==2.3.4
yarl==1.9.2
