<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/boxheight.js"></script>
    <script src="/static/animation.js"></script>
    <link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">

    <title>Artist AI Classifier</title>

</head>
<body>

    <div class="titlebar">
        <p> SongSpy</p>
          <div class="SongDiv">
            <box-icon name='music' color="#ededed"></box-icon>
          </div>

        <div class="social-media">
          <a href="https://www.linkedin.com/in/sean-mullins-3b2198127/" class="linkedin-box"><box-icon type='logo' name='linkedin' color="#ededed" animation="tada-hover"></box-icon></a>
          <a href="https://github.com/smullins998"><box-icon type='logo' name='github' color="#ededed" animation="tada-hover"></box-icon></a>
          <a href="mailto:smullins998@gmail.com"><box-icon name='envelope' color="#ededed" animation="tada-hover"></box-icon> </a>
          <a href="https://soundcloud.com/wearegoons"><box-icon type='logo' name='soundcloud' color="#ededed" animation="tada-hover"></box-icon></a>
          <a href="https://medium.com/@smullins998/identifying-artificially-generated-music-893adabfc239" class="medium-box"><box-icon type='logo' name='medium' color="#ededed" animation="tada-hover" size="lg"></box-icon></a>

        </div>
    

    </div>


    <div class="about-div">
      <h3>About</h3>
      <p>SongSpy uses advanced audio extraction techniques to train and learn patterns specific to different artists. 
        The model can accurately classify (currently 85%) the artist behind a given piece of music using trained Mel 
        Spectrogram segmentations. The model will also compare the song to the Artist's current catalogue 
        to determine if it is artificially generated. Artists trained on the model include 1) Drake
      2) Juice WRLD 3) Kanye West 4) Post Malone 5) SZA 6) Taylor Swift 7) Travis Scott 8) Lil Uzi Vert
    9) The Weekend.  </p>
    </div>

<div class="mainbox">

  <div class="file-upload">
    <form method="POST" action="/upload" enctype="multipart/form-data" id="upload-form">
      <label for="file-input">Drag and drop files here or click to browse</label>
      <input type="file" id="file-input" name="music-file" onchange="submitForm()" onclick="showContainer()" />
      <h5>{{ message }}</h5>
      <p>+</p>
    </form>
  </div>

  <script>
    function submitForm() {
      document.getElementById('upload-form').submit();
    }
  </script>
  
  

  <div class="youtube-upload">
    <form method="POST" action="/youtube_upload" enctype="multipart/form-data" >
      <input type="text" class="youtube-input" name="youtube-link" placeholder="Paste YouTube link here" >
      <button type="submit" class="youtube-button" id="yt-button" onclick="showContainer()">
        <box-icon class="youtube-boxicon" type='solid' name='right-arrow-alt' color="white"></box-icon>
      </button>
    </form>
  </div>

    <div class="or-div">
        <p>or</p>
      </div>
    </div>

    <div class="boxContainer" id="hidden-container" style="display: none;">
      <div class="box box1"></div>
      <div class="box box2"></div>
      <div class="box box3"></div>
      <div class="box box4"></div>
      <div class="box box5"></div>
    </div>


      <div class="outer-output-div">
        <h4>Response...</h4>
        <div class="output-div">
          <p class='response-text'> {{response}} </p>

        </div>
      </div>

    
</div>



</body>
</html>
